/.idea
/.vs
/_ReSharper.Caches
/Binaries
/Build/WindowsNoEditor
/Intermediate
/Plugins/*/Binaries
/Plugins/*/Intermediate
/Plugins/Developer/RiderLink
/Saved
/WindowsNoEditor

*.sln

*.exe
*.exp
*.lib
*.patch_*
*.pdb
*.target
