/.vs
/Build/WindowsNoEditor
/Intermediate
/Plugins/*/Intermediate
/Saved
/WindowsNoEditor

*.sln

*.exp
*.lib
*Shipping.exe
*Shipping.pdb
*Shipping.target

Binaries/Win64/FlowExamples.exe
Binaries/Win64/FlowExamples.pdb
Binaries/Win64/FlowExamples.target